trigger:
  branches:
    include:
      - main
      - master
  paths:
    exclude:
      - README.md
      - '*.md'

variables:
  - group: 557705-variables
  - name: imageName
    value: 'transaction'
  - name: dockerfilePath
    value: '$(Build.SourcesDirectory)/Dockerfile'
  - name: tag
    value: '$(Build.BuildId)'

stages:
  - stage: Build
    displayName: 'Build and Test'
    jobs:
      - job: BuildJob
        displayName: 'Build Application'
        pool:
          vmImage: 'ubuntu-latest'
        
        steps:
          - task: Gradle@3
            displayName: 'Build and Test Application'
            inputs:
              workingDirectory: '$(System.DefaultWorkingDirectory)'
              gradleWrapperFile: '$(System.DefaultWorkingDirectory)/gradlew'
              options: '-Xmx3072m'
              tasks: 'clean build'
              publishJUnitResults: true
              testResultsFiles: '**/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersion: 'JDK21'
              jdkArchitecture: 'x64'

  - stage: Docker
    displayName: 'Build and Push Docker Image'
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: DockerJob
        displayName: 'Docker Build and Push'
        pool:
          vmImage: 'ubuntu-latest'
        
        steps:
          - task: Docker@2
            displayName: 'Login to Azure Container Registry'
            inputs:
              command: 'login'
              containerRegistry: 'ACRConnection'

          - task: Docker@2
            displayName: 'Build and Push Docker Image'
            inputs:
              command: 'buildAndPush'
              repository: '$(imageName)'
              containerRegistry: 'ACRConnection'
              dockerfile: '$(dockerfilePath)'
              tags: |
                $(tag)
                latest

  - stage: Deploy
    displayName: 'Deploy to Azure Web App'
    dependsOn: Docker
    condition: succeeded()
    jobs:
      - deployment: DeployJob
        displayName: 'Deploy to Web App'
        pool:
          vmImage: 'ubuntu-latest'
        environment: 'Production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureCLI@2
                  displayName: 'Configure Web App Settings'
                  inputs:
                    azureSubscription: 'AzureConnection'
                    scriptType: 'bash'
                    scriptLocation: 'inlineScript'
                    inlineScript: |
                      az webapp config appsettings set \
                        --name $(WEBAPP_NAME) \
                        --resource-group $(RG) \
                        --settings \
                          WEBSITES_PORT=8080 \
                          SPRING_DATASOURCE_URL="jdbc:sqlserver://$(SERVER_NAME).database.windows.net:1433;database=$(DBNAME);encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;" \
                          SPRING_DATASOURCE_USERNAME="$(DB_USERNAME)" \
                          SPRING_DATASOURCE_PASSWORD="$(DB_PASSWORD)"

                - task: AzureWebAppContainer@1
                  displayName: 'Deploy Container to Azure Web App'
                  inputs:
                    azureSubscription: 'AzureConnection'
                    appName: '$(WEBAPP_NAME)'
                    imageName: '$(ACR_NAME).azurecr.io/$(imageName):$(tag)'
                    containerRegistryEndpoint: 'ACRConnection'

